10_5_DHT_ESP8266 - DB/node red.txt
[{"id":"410bad0c.6bac84","type":"mqtt in","z":"2f04b559.6782da","name":"","topic":"/kdi/outTopic","qos":"0","datatype":"auto","broker":"7dd3826b.67994c","x":150,"y":80,"wires":[["bdf9343.0ebabc8"]]},{"id":"bdf9343.0ebabc8","type":"json","z":"2f04b559.6782da","name":"","property":"payload","action":"","pretty":false,"x":310,"y":80,"wires":[["bd40f5da.6d31d8","8eaa8fd7.62208","7d357d77.67a6c4"]]},{"id":"c5b14b8.085d2b8","type":"ui_gauge","z":"2f04b559.6782da","name":"","group":"d2814b1e.3abda8","order":2,"width":0,"height":0,"gtype":"gage","title":"습도","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":60,"wires":[]},{"id":"bd40f5da.6d31d8","type":"function","z":"2f04b559.6782da","name":"모니터링","func":"var msg1={};\nvar msg2={};\nvar msg3={};\nmsg1.payload=msg.payload.hu;\nmsg2.payload=msg.payload.te;\nmsg3.payload=\"습도:\"+msg.payload.hu+\"<br>온도:\"+msg.payload.te;\nreturn [msg1,msg2,msg3];\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":466,"y":80,"wires":[["c5b14b8.085d2b8"],["5a11f1d6.ba7e4"],["dc135ebb.0c63c"]]},{"id":"5a11f1d6.ba7e4","type":"ui_chart","z":"2f04b559.6782da","name":"","group":"d2814b1e.3abda8","order":3,"width":0,"height":0,"label":"온도","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":610,"y":100,"wires":[[]]},{"id":"dc135ebb.0c63c","type":"ui_template","z":"2f04b559.6782da","group":"d2814b1e.3abda8","name":"","order":5,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":140,"wires":[[]]},{"id":"ff4d22c8.8e6d5","type":"mongodb2 in","z":"2f04b559.6782da","service":"_ext_","configNode":"416da68f.5284e8","name":"local","collection":"","operation":"","x":330,"y":220,"wires":[["96582aeb.73cbd8"]]},{"id":"1c906bcc.b76184","type":"mongodb2 in","z":"2f04b559.6782da","service":"_ext_","configNode":"416da68f.5284e8","name":"local","collection":"","operation":"","x":675,"y":220,"wires":[[]]},{"id":"96582aeb.73cbd8","type":"function","z":"2f04b559.6782da","name":"null=insert, is=update","func":"var msg1=global.get(\"msg_machine_register\")||\"\";\nvar time = new Date().toLocaleString('ko-KR', { timeZone: 'Asia/Seoul' });\nvar newMsg = {};\nif(msg.payload==null) {\n    newMsg.collection = 'localRecord';\n    newMsg.operation  = 'insert';\n    newMsg.payload    = {'chip':msg1.payload.chip,'hu':msg1.payload.hu,'te':msg1.payload.te, 'time': time};\n    return newMsg;\n}\nelse {\n    newMsg.collection = 'localRecord';\n    newMsg.operation  = 'findOneAndUpdate';\n    newMsg.payload    = [{'chip' : msg1.payload.chip}, {$set:{'hu':msg1.payload.hu,'te':msg1.payload.te, 'time': time}} ];\n    return newMsg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":505,"y":220,"wires":[["1c906bcc.b76184"]]},{"id":"8eaa8fd7.62208","type":"function","z":"2f04b559.6782da","name":"findOne(email 입력필수)","func":"global.set(\"msg_machine_register\",msg);\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = {'chip':msg.payload.chip};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":220,"wires":[["ff4d22c8.8e6d5"]]},{"id":"7d357d77.67a6c4","type":"debug","z":"2f04b559.6782da","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":160,"wires":[]},{"id":"7dd3826b.67994c","type":"mqtt-broker","name":"","broker":"192.168.0.200","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d2814b1e.3abda8","type":"ui_group","name":"스마트팜","tab":"d191487e.a33818","order":1,"disp":true,"width":"6","collapse":false},{"id":"416da68f.5284e8","type":"mongodb2","uri":"mongodb://localhost:27017/admin","name":"","options":"","parallelism":"-1"},{"id":"d191487e.a33818","type":"ui_tab","name":"두원 메카트로닉스","icon":"dashboard","order":5,"disabled":false,"hidden":false}]