10_4_DHT_ESP8266/node red.txt
[{"id":"410bad0c.6bac84","type":"mqtt in","z":"2f04b559.6782da","name":"","topic":"/kdi/outTopic","qos":"0","datatype":"auto","broker":"7dd3826b.67994c","x":150,"y":80,"wires":[["bdf9343.0ebabc8"]]},{"id":"bdf9343.0ebabc8","type":"json","z":"2f04b559.6782da","name":"","property":"payload","action":"","pretty":false,"x":310,"y":80,"wires":[["bd40f5da.6d31d8"]]},{"id":"c5b14b8.085d2b8","type":"ui_gauge","z":"2f04b559.6782da","name":"","group":"d2814b1e.3abda8","order":2,"width":0,"height":0,"gtype":"gage","title":"습도","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":60,"wires":[]},{"id":"bd40f5da.6d31d8","type":"function","z":"2f04b559.6782da","name":"모니터링","func":"var msg1={};\nvar msg2={};\nvar msg3={};\nmsg1.payload=msg.payload.hu;\nmsg2.payload=msg.payload.te;\nmsg3.payload=\"습도:\"+msg.payload.hu+\"<br>온도:\"+msg.payload.te;\nreturn [msg1,msg2,msg3];\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":466,"y":80,"wires":[["c5b14b8.085d2b8"],["5a11f1d6.ba7e4"],["dc135ebb.0c63c"]]},{"id":"5a11f1d6.ba7e4","type":"ui_chart","z":"2f04b559.6782da","name":"","group":"d2814b1e.3abda8","order":3,"width":0,"height":0,"label":"온도","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":610,"y":100,"wires":[[]]},{"id":"dc135ebb.0c63c","type":"ui_template","z":"2f04b559.6782da","group":"d2814b1e.3abda8","name":"","order":5,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":140,"wires":[[]]},{"id":"7dd3826b.67994c","type":"mqtt-broker","name":"","broker":"192.168.0.200","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d2814b1e.3abda8","type":"ui_group","name":"스마트팜","tab":"d191487e.a33818","order":1,"disp":true,"width":"6","collapse":false},{"id":"d191487e.a33818","type":"ui_tab","name":"두원 메카트로닉스","icon":"dashboard","order":5,"disabled":false,"hidden":false}]